<style>
  .box select{
    width: 270px;
  }
</style>


<div class="container mt-4 mb-4">
    <div class="row">
        <div class='col-lg-1'></div>
            <h4><span style="background-color: rgb(220, 220, 220);">商品編集</span></h4>
    </div>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <!--tableタグの中にform_withを入れない-->
            <%= form_with model: @item, url: admin_item_path(@item), method: :patch do |f| %>
              <table class="table table-borderless">
                <tr>
                  <th>商品画像</th>
                  <td><%= f.file_field :item_image, accept: "image/*" %></td>
                </tr>
                <tr>
                  <th>商品名</th>
                  <td><%= f.text_field :name, size: 30, placeholder: "商品名" %></td>
                </tr>
                <tr>
                  <th>商品説明</th>
                  <td><%= f.text_area :introduction, rows: 5, cols: 29, placeholder: "ここに説明文を記述します" %></td>
                </tr>
                <tr>
                  <th>ジャンル</th>
                  <td class="box select"><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "-- 選択してください --" %></td>
                </tr>
                <tr>
                  <th>税抜価格</th>
                  <td><%= f.text_field :price, size: 30, placeholder: "1000" %>円</td>
                </tr>
                <tr>
                  <th>販売ステータス</th>
                  <td><%= f.radio_button :is_active, "true" %>販売中　<%= f.radio_button :is_active, "false" %>販売停止</td>
                </tr>
                <tr>
                  <td></td>
                  <td><%= f.submit @submit_label, class: "btn btn-success w-50" %></td>
                </tr>
              </table>
            <% end %>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>