<div class="container">
    <br>
    <div class="row">
        <span style="background-color: rgb(220, 220, 220);"><h4>商品詳細</h4></span>
    </div>
    <br>
    <div class="row">
        <div class="col-4">
            <%= image_tag @item.item_image, size: '80x50' %>
        </div>
        <div class="col-6">
            <table class="table table-borderless">
                <tr>
                    <th>商品名</th>
                    <td><%= @item.name %></td>
                </tr>
                <tr>
                    <th>商品説明</th>
                    <td><%= @item.introduction %></td>
                </tr>
                <tr>
                    <th>ジャンル</th>
                    <td><%= @item.genre %></td>
                </tr>
                <tr>
                    <th>税込価格<br>(税抜価格)</th>
                    <td><%= @item.add_tax_price.to_s(:dalimited) %>(<%= @item.price %>)円</td>
                </tr>
                <tr>
                    <th>販売ステータス</th>
                    <td><%= @item.is_activ, class: "text-success" %></td>
                </tr>
            </table>
        </div>
        <div class="col-5"></div>
    <div class="row">
        <div class="col-2">
            <tr>
                <td><%= link_to '編集する', edit_admin_item_path(@item), class: "btn btn-sm btn-success" %></td>
            </tr>
        </div>
        <div class="col-5"></div>
    </div>
</div>
