<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 mx-auto">
<h2>管理者ログイン</h2>
<!--<div class="row g-3 align-items-center">-->
<!--  <div class="col-auto">-->
<!--    <label for="inputPassword6" class="col-form-label">メールアドレス</label>-->
<!--  </div>-->
<!--  <div class="col-auto">-->
<!--    <input type="password" id="inputPassword6" class="form-control" aria-labelledby="passwordHelpInline">-->
<!--  </div>-->
<!--  <div class="col-auto">-->
<!--    <span id="passwordHelpInline" class="form-text"></span>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row g-3 align-items-center">-->
<!--  <div class="col-auto">-->
<!--    <label for="inputPassword6" class="col-form-label">パスワード</label>-->
<!--  </div>-->
<!--  <div class="col-auto">-->
<!--    <input type="password" id="inputPassword6" class="form-control" aria-labelledby="passwordHelpInline">-->
<!--  </div>-->
<!--  <div class="col-auto">-->
<!--    <span id="passwordHelpInline" class="form-text"></span>-->
<!--  </div>-->
<!--</div>-->

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"sample@example.com" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password, autocomplete: "current-password"%>
  </div>

<p id="notice"></p>

  <div class="actions">
    <%= f.submit "ログイン" ,class: 'btn btn-primary'%>
  </div>

<% end %>

<%= render "admin/shared/links" %>

    </div>
  </div>
</div>
