<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="mt-4">
        <P>ジャンルが入る</P>
        <%= render "items/genre", genres: @genres %>
      </div>
    </div>
    
    <div class="col-lg-9">
      <div class="py-5">
        <div class="row">
          <div class="col-3"></div>
          <span>
            ようこそ、ながのCAKEへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
          </span>
        </div>
      </div>
      
      <div class="row">
        <div class="">
          <h3>新着商品</h3>
        </div>
      </div>
    
      <div class="row">
        <% @new_items.each do |item| %>
          <div class="col-lg-3">
            <table>
              <tr>
                <td><%= image_tag item.get_item_image(100,80) %></td>
              </tr>
              <tr>
                <td><%= item.name %></td>
              </tr>
              <tr>
                <td>￥<%= item.price %></td>
              </tr>
            </table>
          </div>
        <% end %>
      </div>
      
        <div class="py-3">
        <div class="row">
          <div class="col-9"></div>
            <%= link_to "すべての商品を見る>", public_items_path %>
        </div>
        </div>
      </div>
      
      
    </div>
  </div>
</div>