<div class="container mt-4 mb-4">
  <dic class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-3">
      <h4><span style="background-color: rgb(220, 220, 220);">会員一覧</span></h4>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <% @customers.each do |customer| %>
          <tbody>
            <tr>
              <td><%= customer.id %></td>
              <td><%= link_to customer.full_name, admin_customer_path(customer.id) %></td>
              <td><%= customer.email %></td>
              <td><%= customer.customer_status %></td>
            </tr>
          </tbody>
        <% end %>
      </table>

      <%= paginate @customers %>
    </div>
  </div>
</div>
