<%= form_with model: @address, url: '/addresses', method: :post do |f| %>
<div class='container mt-4'>
  <div class='row'>
    <div class='col-lg-1'></div>
  <h4><span style="background-color: rgb(220, 220, 220);">配送先登録/一覧</span></h4>
  </div>
  <div class="row mt-4">
    <table>
      <tr>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th>郵便番号(ハイフンなし)</th>
        <td><%= f.text_field :postal_code %></td>
      </tr>
      <tr>
        <th>住所</th>
        <td><%= f.text_field :address %></td>
      </tr>
      <tr>
        <th>宛名</th>
        <td><%= f.text_field :name %></td>
        <td><%= f.submit "新規登録" %></td>
      </tr>
    </table>
  </div>
<% end %>
  <div class='row mt-4'>
    <table class='table table-hover table-inverse'>
      <thead>
        <tr>
          <th>郵便番号</th>
          <th>住所</th>
          <th>宛名</th>
          <th colspan="3"></th>
        </tr>
      </thead>
<% @addresses.each do |address| %>
      <tbody>
        <tr>
          <td><%= address.postal_code %></td>
          <td><%= address.address %></td>
          <td><%= address.name %></td>
          <td><%= link_to "編集", edit_address_path(address.id), class: "btn btn-sm btn-success" %>
          <%= link_to "削除", address_path(address.id), method: :delete, "data-confirm" => "本当に解除しますか？", class: "btn btn-sm btn-danger", remote: true %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>
