<div class='container mt-4'>
  <div class='row'>
    <div class='col-lg-1'></div>
  <h4><span style="background-color: rgb(220, 220, 220);">注文情報確認</span></h4>
  </div>
  <div class='row'>
    <div class='col-8'>
      <table class='table table-bordered border-dark'>
        <thead>
          <tr>
            <td class="bg-light">商品名</td>
            <td class="bg-light">単価(税込み)</td>
            <td class="bg-light">数量</td>
            <td class="bg-light">小計</td>
          </tr>
        </thead>
        <% total = 0 %>
        <% @cart_items.each do |cart_item| %>
        <tbody>
          <tr>
            <td style="width:50%"><%= image_tag cart_item.item.get_item_image(60,50) %><%= cart_item.item.name %></td>
            <td style="width:15%"><%= (cart_item.item.price*1.08).to_i %></td>
            <td style="width:15%"><%= cart_item.amount %></td>
            <td style="width:20%"><% subtotal = ((cart_item.item.price*cart_item.amount)*1.08).to_i %>
               <%= subtotal %>
            </td>
          </tr>
        </tbody>
          <% total += (cart_item.item.price*cart_item.amount)*1.08 %>
        <% end %>
      </table>
    </div>
    <div class='col-1'></div>
        <div class='col-3'>
        <%= form_with model: @order, url: orders_path, method: :post, local: true do |f| %>
      <table class='table table-bordered border-dark'>
        <% @order.shipping_cost = 800 %>
        <tr>
          <td class="bg-light">送料</td>
          <td style="width:50%"><%= @order.shipping_cost %></td>
        </tr>
        <tr>
          <td class="bg-light">合計商品</td>
          <td><%= total.to_i %></td>
        </tr>
        <% @order.total_payment = @order.shipping_cost + total.to_i %>
        <tr>
          <td class="bg-light">請求金額</td>
          <td><%= @order.total_payment %></td>
        </tr>
      </table>
    </div>
  </div>
<div class="row">
        <div class='col-11 offset-1'>
            <table class="table table-borderless">
                <tr><th class="col-1">支払い方法</th><td class="col-10"><%= @order.payment_method_i18n %></td></tr>
                <tr><th class="col-1">お届け先</th><td class="col-10">
                <%= @order.postal_code %></br>
                <%= f.hidden_field :postal_code, :value => @order.postal_code %>
                
                <%= @order.address %>
                <%= @order.name %>
                </td></tr>
            </table>
        </div>
    </div>
    <div class="row justify-content-center">

            <%= f.hidden_field :customer_id %>
            <%= f.hidden_field :shipping_cost %>
            <%= f.hidden_field :total_payment %>
            <%= f.hidden_field :payment_method %>
            <%= f.hidden_field :name %>
            <%= f.hidden_field :address %>
            <%= f.hidden_field :postal_code %>
            <%= f.hidden_field :status %>
            <%= f.submit "注文を確定する", class: "btn btn-success" %>
        <% end %>
    </div>
</div>