<%= form_with model: @order, url: orders_path, method: :post, local: true do |f| %>
<div class='container mt-4'>
  <div class='row'>
    <div class='col-lg-1'></div>
  <h4><span style="background-color: rgb(220, 220, 220);">注文情報確認</span></h4>
  </div>
  <table>
    <thead>
      <tr>
        <th>商品名</th>
        <th>単価(税込み)</th>
        <th>数量</th>
        <th>小計</th>
      </tr>
    </thead>
    <% total = 0 %>
    <% @cart_items.each do |cart_item| %>
    <tbody>
      <tr>
        <td><%= image_tag('NO IMAGE.png') %><%= @item.name %></td>
        <td><%= @order_details.price %></td>
        <td><%= @cart_items.amount %></td>
        <td><% subtotal = ((order_derails.price*cart_items.quantity)*1.08).to_i %>
          <%= subtotal %>
        </td>
      </tr>
    </tbody>
  </table>
  
  <table>
    <th>送料</th>
    <th>商品合計</th>
    <th>請求金額</th>
    <td></td>
  </table>
  
  <table>
    <th>支払方法</th>
    <th>お届け先</th>
    <td></td>
    <td></td>
  </table>
  <%= f.submit "注文を確定する" %>
</div>
<% end %>
<% end %>