<div class="container mt-4 mb-4">
    <div class="row"></div>
    <div class="row">
      <div class='col-lg-3'>

      </div>
      <div class="col-lg-4">
        <%= image_tag @item.get_item_image(250,250) %>
      </div>
      <div class="col-lg-5">
        <h4><%= @item.name %></h4>
        <%= @item.introduction %>
        ¥<%= number_with_delimiter(@item.price, delimiter: ',') %>円
        <!--¥<%#= @item.price.to_s(:dalimited) %>(税込)-->
        <%= form_with model: @item do |f| %>
          <%= f.hidden_field :item, :value => @item.name %>
          <%= f.hidden_field :item, :value =>  number_with_delimiter(@item.price, delimiter: ',') %>
          <%= f.select :cart_item, *[1..10, include_blank: "個数選択"] %>
          <%= f.submit "カートに入れる", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
</div>