<div class="container">
    <div class="row"></div>
    <div class="row">
      <div class='col-lg-3'>

      </div>
      <div class="col-lg-4">
        <%= image_tag @item.item_image, size: '80x50' %>
      </div>
      <div class="col-lg-5">
        <h4><%= @item.name %></h4>
        <%= @item.introduction %>
        ¥<%= @item.add_tax_price.to_s(:dalimited) %>(税込)
        <% link_to "カートに入れる", public_cart_items_path, class: "btn btn-success" %>
      </div>
      <%= paginate @items %>
    </div>
</div>